nav {
    display: inline-block;
    text-align: right;
    width: 100%;    
}

nav a {
    color: var(--clr-white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}